# Python
venv/
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

generate_bus_stops.py
stations.csv
convert_stations.py

gtfs_static/
google_transit.zip